<!DOCTYPE html>
<html>
<head>
  <title>TranslationSmartEditor</title>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue_component.js"></script>
  <script src="data_interface.js"></script>
  <script src="vue_elements.js" defer></script>
  <script src="main.js" defer></script>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <aside>
    <div id="videoArea">
      <input id="videoBrowser" type="file" @change="loadVideo(this.files)" accept="video/*"/>
      <video id="video" ref="video" @click="clickVideo" :src="videoSource"></video>
      <div id="saveButton">{{ saveButtonText }}</div>
    </div>
    <div id="jsonArea">
      <textarea id="jsonDisplay" v-model="json" ref="json"></textarea>
      <div id="jsonControl">
        <div id="exportJsonButton" @click="exportJson">{{ exportButtonText }}</div>
        <div id="importJSONButton" @click="importJSON">{{ importButtonJson }}</div>
      </div>
    </div>
  </aside>
  <div id="editArea">
    <header>
      <div id="resetButton" @click="resetAll">{{ resetButtonText }}</div>
      <input id="title" type="text" v-model="title" />
    </header>
    <main>
      <section v-for="group in groups" :id="group.frametime" @click="jumpToTime(group.frametime)">
        <time>{{ group.frametime }}</time>
        <article v-for="(content, index) in group.contents">
          <type-list defaultindex="content.type" @type-change="content.changeType($value)"></type-list>
          <div>
            <input type="checkbox" v-model="content.isRender" />
            <label v-if="content.showTitle">
              {{ content.titleLabel }}
              <input type="text" v-model="content.title" />
            </label>
            <color-selector  v-if="content.showColor"
                            :defaultindex="content.color"
                            @color-change="content.changeColor($value)"></color-selector>
            <size-selector  v-if="content.showSize"
                            defaultindex="content.size"
                           @size-change="content.changeSize($value)"></size-selector>
            <div class="deleteButton noselect" @click="delete(group.frametime, index)">✕</div>
          </div>
          <textarea rows="4" cols="40" placeholder="輸入譯文……" v-model="content.content"></textarea>
        </article>
      </section>
    </main>
  </div>
</body>
</html>
